<div class="border">
  
  <h1>
    <b>Today:</b>
  </h1>

  <div class="small-border"
    <b>Posts:</b>
    <br><br>
  </div>

  <h1>
    <b>Yesterday:</b>
  </h1>

  <div class="small-border"
    <b>Posts:</b>
    <br><br>
  </div>

</div>
