<h1>Croquet Board</h1>

<div ng-app='app.exampleApp' ng-controller='ExampleCtrl'>
  <p>Value from ExampleCtrl:</p>
  <p>{{ exampleValue }}</p>
</div>

<div class="border">

  <h2>
    <b>Today:</b>
  </h2>

  <div class="small-border"
    <b>Posts:</b>
    <br><br>
  </div>

  <h2>
    <b>Yesterday:</b>
  </h2>

  <div class="small-border"
    <b>Posts:</b>
    <br><br>
  </div>
</div>
